body{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
a {
    text-decoration: none;
    color: white;
}
a :visited{
    text-decoration: none;
    color: white;
}
/* Esta Seccion contiene el estilo del contenido de las etiquetas p y las a */
a,div{
    color: #E5E7EB;
    font-size: 18px;
}
ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
.body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    background-color: #1F2937;
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    padding: 1% 10% 1% 8%;
}
.logo {
color: #f8faf9;
font-size: 24px;
font-weight: 700;
}
.links{
    display: flex;
    margin-left: auto;
    gap: 15px;
}
.hero{
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    padding: 8% 10% 8% 8%;
    justify-content: flex-start;
}
.hero-title{
    color: #f8faf9;
    font-weight: bolder;
    font-size: 48px;
    flex: 1;
}
.hero-img{
    background-color: #E5E7EB;
    height: 180px;
    width: 360px;
    margin-left: 10px;
}
.hero-content{
    flex-wrap: wrap;
}
.hero-button{
    background-color: #3882f6;
    border-radius: 10px;
    border: none;
    margin: 10px 10px;
    padding: 16px 32px;
    font-weight: bolder;
    color: white;
    font-size: 22px;
    flex-shrink: 2;
}
.hero-button:hover{
    background-color: #1d68e2;
    margin: 8px 8px;
    padding: 18px 34px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
}


